<div class="container">

  <div class="jumbotron">
    <h1 class="display-3">What to eat in your neighborhood?</h1>

    <%= form_tag({controller: "restaurants", action: "search"}, method: "get") do %>
        <p><%= text_field_tag(:q, nil, {class: 'form-control top-buffer', placeholder: 'Your favourite food like "Sushi"'}) %></p>
        <%= submit_tag("Search", class: 'btn btn-lg btn-success') %>
    <% end %>
  </div>
  <p class="lead">Review based dishes rating. Keep calm and eat food.</p>
  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Rating based on reviews</h4>
      <p>Rating is regard to restaurant.
        What if we just want to eat some specific dish?
      </p>
    </div>

    <div class="col-lg-6">
      <h4>Provide menu information for restaurants</h4>
      <p>
        Provide menu information for restaurants.
        Scalable if we push more review/menu information.
      </p>

    </div>
  </div>

  <footer class="footer">
    <p>&copy; Weidong Guo,    Lu Ma,    Yue Li,
      Zizheng Wu,    Lei Zhang 2016</p>
  </footer>

</div> <!-- /container -->



