<section class="jumbotron text-xs-center">
  <div class="container">
    <h1 class="jumbotron-heading">Album example</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <p>
      <a href="#" class="btn btn-primary">Main call to action</a>
      <a href="#" class="btn btn-secondary">Secondary action</a>
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">

    <div class="row">
      <% @reviews.zip(@restaurants).each do |review, restaurant| %>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <%= link_to restaurant_path(restaurant.id) do %>
            <p class="card-text"><%= restaurant.name %></p>
            <% end %>
            <p class="card-text">Score: <%= review.positive %></p>

            <%# end %>
          </div>
      <% end %>
    </div>

  </div>
</div>
